@import 'setup';

html {
	font-size: 62.5%;
}

body {
	font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
	display: block;
	width: 100%;
}

.wrapper {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
	@media (min-width: 1141px){
		padding: 0;
	}
}

header {
	@media (min-width: 881px) {
		margin-top: 0;
		padding-top: 1px;
		background: url("../../public/images/hero.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 490px;
	}
}

picture {
	@media (min-width: 881px) {
		display: none;
	}
}

h1 {
	font-size: 3rem;
	text-align: center;
	font-weight: 400;
	margin: 3rem auto;
	@media (min-width: 881px) {
		text-align: left;
		font-size: 4rem;
	}
}

.banner {
	background: #e4f2f2;
	padding: 35px;
	@media (min-width: 881px) {
		background: none;
		padding: 0;
	}
}

.banner h2 {
	margin: 0;
	text-align: center;
	font-style: italic;
	font-size: 2rem;
	font-weight: 400;
	@media (min-width: 881px) {
		text-align: left;
	}
}

.banner p {
	font-family: 'Trebuchet MS', Arial, sans-serif;
	font-size: 1.2rem;
	text-align: center;
}

section.promo {
	display: none;
	@media (min-width: 569px) {
		display: block;
		margin: 70px auto 135px;
	}
}

.promo p {
	font-size: 2.5rem;
	font-style: italic;
	text-align: center;
	margin: 0 auto;
}
section.main-content {
	margin-bottom: 25px;
}

.main-content h2 {
	font-size: 3.4rem;
	font-weight: 400;
	text-align: center;
	margin-top: 45px;
	margin-bottom: 40px;
}

.main-content ul {
	list-style: none;
	padding: 0;	
	margin: 0;
}

.main-content li {
	font-size: 2rem;
	position: relative;
	padding-left: 75px;
	margin-bottom: 45px;
	position: relative;	
	@media (min-width: 569px) {
		font-size: 2.5rem;
	}	
	@media (min-width: 881px) {
		float: left;
	}
	@media (min-width: 1141px) {
		margin-right: 55px;

	}
}

.main-content li:last-of-type {
	margin-right: 0;
}

.main-content li::before {
	 content: '';
	 background: url(../../public/images/bullet-m.jpg) no-repeat;
	 width: 48px;
	 height: 48px;
	 position: absolute;
	 left: 0;
	 top: 50%;
	 transform: translateY(-50%);
	 @media (min-width: 569px) {
		background: url(../../public/images/bullet.jpg) no-repeat;
		width: 56px;
		height: 56px;
		top: 30px;
	 }
}

span.extra-content {
	display: none;
	@media (min-width: 569px) {
		display: block;
		font-size: 1.8rem;
		font-family: 'Trebuchet MS', Arial, sans-serif;
		margin-top: 15px;
	}
}
a.start-now {
	background: #00a6d0;
	color: #fff;
	padding: 20px;
	font-size: 2.2rem;
	font-style: italic;
	text-align: center;
	text-decoration: none;
	display: block;
	transition: 0.2s;
	@media (min-width: 569px) {
		display: inline-block;
		padding: 15px 50px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);

		
	}
}

a.start-now:hover {
	background: #189692;
}

