article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: Georgia, 'Times New Roman', Times, serif; }

img {
  display: block;
  width: 100%; }

.wrapper {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto; }
  @media (min-width: 1141px) {
    .wrapper {
      padding: 0; } }

@media (min-width: 881px) {
  header {
    margin-top: 0;
    padding-top: 1px;
    background: url("../../public/images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 490px; } }

@media (min-width: 881px) {
  picture {
    display: none; } }

h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: 400;
  margin: 3rem auto; }
  @media (min-width: 881px) {
    h1 {
      text-align: left;
      font-size: 4rem; } }

.banner {
  background: #e4f2f2;
  padding: 35px; }
  @media (min-width: 881px) {
    .banner {
      background: none;
      padding: 0; } }

.banner h2 {
  margin: 0;
  text-align: center;
  font-style: italic;
  font-size: 2rem;
  font-weight: 400; }
  @media (min-width: 881px) {
    .banner h2 {
      text-align: left; } }

.banner p {
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-size: 1.2rem;
  text-align: center; }

section.promo {
  display: none; }
  @media (min-width: 569px) {
    section.promo {
      display: block;
      margin: 70px auto 135px; } }

.promo p {
  font-size: 2.5rem;
  font-style: italic;
  text-align: center;
  margin: 0 auto; }

section.main-content {
  margin-bottom: 25px; }

.main-content h2 {
  font-size: 3.4rem;
  font-weight: 400;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 40px; }

.main-content ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.main-content li {
  font-size: 2rem;
  position: relative;
  padding-left: 75px;
  margin-bottom: 45px;
  position: relative; }
  @media (min-width: 569px) {
    .main-content li {
      font-size: 2.5rem; } }
  @media (min-width: 881px) {
    .main-content li {
      float: left; } }
  @media (min-width: 1141px) {
    .main-content li {
      margin-right: 55px; } }

.main-content li:last-of-type {
  margin-right: 0; }

.main-content li::before {
  content: '';
  background: url(../../public/images/bullet-m.jpg) no-repeat;
  width: 48px;
  height: 48px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }
  @media (min-width: 569px) {
    .main-content li::before {
      background: url(../../public/images/bullet.jpg) no-repeat;
      width: 56px;
      height: 56px;
      top: 30px; } }

span.extra-content {
  display: none; }
  @media (min-width: 569px) {
    span.extra-content {
      display: block;
      font-size: 1.8rem;
      font-family: 'Trebuchet MS', Arial, sans-serif;
      margin-top: 15px; } }

a.start-now {
  background: #00a6d0;
  color: #fff;
  padding: 20px;
  font-size: 2.2rem;
  font-style: italic;
  text-align: center;
  text-decoration: none;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  @media (min-width: 569px) {
    a.start-now {
      display: inline-block;
      padding: 15px 50px;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); } }

a.start-now:hover {
  background: #189692; }
